# Created by venv; see https://docs.python.org/3/library/venv.html
venv
.env
__pycache__/
*.py[cod]
*$py.class
.vscode/
.ruff_cache/
*.sqlite3
staticfiles/


# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
.terragrunt-cache/
.terraform.d/